.updateProf-pg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100vh;
}
.updateprof-hd{
    margin: 20px auto !important;
    width: fit-content;
}
.updateIcon{
    width: 60px;
}