.updateProfileForm-pg{
    width: 25%;
    margin: 50px auto;
}
.updateFormControl:focus{
    border-color:#f0bf3b;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #f0bf3b;
}
.updateBtn{
    background-color: #f0bf3b;
    border: none;
}
.updateBtn:hover{
    background-color: #3b3983;
    border: none;
}
.cancel-btn:hover{
    color: #f0bf3b;
}