.navBar {
  padding: 10px 0px;
  height: 65px;
  z-index: 10;
  margin: 0px 20px;
}
.home-btn {
  font-size: medium;
  margin: 15px 0px;
  color: white;
}
.btn-color {
  background: transparent;
  color: white;
  font-weight:600;
  width: 100px;
  height: 40px;
  font-size: 17px;
  top: 20px;
  margin: 0px 5px;
  border: none;
}
.btn-color-dis{
  background: transparent;
  color: rgba(255, 255, 255, 0.507);
  font-weight:600;
  width: 100px;
  height: 40px;
  font-size: 17px;
  top: 20px;
  margin: 0px 5px;
  border: none;
}
.btn-color-dis:hover{
  cursor:not-allowed;
}

.btn-color:hover,.wallet-name:hover{
  font-style: italic;
}
.wallet-name {
  width: fit-content;
  margin: auto;
  padding-right: 5px;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}
.coins-logo {
  height: 30px;
}
.coins-logo-brand {
  display: flex;
  width: fit-content; 
  margin-left: 10px;
  margin-top: 5px;
}
